# 忽略所有 .log 文件  
*.log  
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# 忽略特定目录  
#生成文件
/build/
/out/
/dist/
/trainOutput/

#依赖库
/py39/
/node_modules/
/maix_train/

#安装包
/packages/

#安装配置文件
forge.config.js

#有修改/添加过的内容
!maix_train/train/detector/predict_test.py
!maix_train/train/detector/test.py
!maix_train/train/classifier/predict_test.py

#开发文件
Wiz_AI_tool.code-workspace
crypto_file.js
check_package.js
get-electron-abi.js
npminstall-debug.log

#旧文件 
index-old.html

#make-sense相关
# ide
.idea/
.vscode/

# dependencies
make-sense/node_modules/  
make-sense/.pnp/
make-sense/.pnp.js
make-sense/src/
# testing
make-sense/coverage

# production
make-sense/build/
make-sense/dist/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

package.js
utils/cryptoService.js
authPreload.js
auth.html
compile.js
authPreload_loader.js
authPreload_protected.jsc
crypto_file_loader.js
check_package_protected.jsc
crypto_file_protected.jsc
cryptoService_critical_loader.js
eventManager_loader.js
eventManager_protected.jsc
get_project_structure_tree.ps1
get-electron-abi_protected.jsc
.gitignore
main_bootstrap.js
main_loader.js
main_protected.jsc
menu_loader.js
menu_protected.jsc
preload_loader.js
preload_protected.jsc
project_structure.txt
protection_report.txt
windowManger_loader.js
windowManger_protected.jsc
utils_protected/cryptoService.jsc
utils_protected/file_process.jsc
utils_protected/ipc_commu.jsc
utils_protected/language-html.jsc
utils_protected/language-manager.jsc
utils_protected/path_utils.jsc
utils_protected/serialManager.jsc
forge.config - 副本.js
.electron-cache/electron-v29.4.6-win32-x64.zip
compile-bytenode.js
compile.js
