# 忽略所有 .log 文件  
*.log  
npm-debug.log*
yarn-debug.log*
yarn-error.log*
get-electron-abi.js

# 忽略特定目录  
#生成文件
/build/
/out/

#依赖库
/py39/
/node_modules/
/maix_train/
#有修改/添加过的内容
!maix_train/train/detector/predict_test.py
!maix_train/train/detector/test.py
!maix_train/train/classifier/predict_test.py

#开发文件
Wiz_AI_tool.code-workspace

#旧文件 
index-old.html
npminstall-debug.log


#make-sense相关
# ide
.idea/
.vscode/

# dependencies
make-sense/node_modules/  
make-sense/.pnp/
make-sense/.pnp.js

# testing
make-sense/coverage

# production
make-sense/build/
make-sense/dist/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local



