body {  
  height: 100%;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  background-color: transparent; /* 背景设为透明 */  
  overflow: hidden; /* 隐藏滚动条 */  
}  

.animated-text {  
  animation: fade-in-out 4s ease-in-out infinite; /* 将动画时间延长至4秒 */  
}  

@keyframes fade-in-out {  
  0%, 100% {  
      opacity: 0.5; /* 开始和结束时透明度较低 */  
      transform: scale(1); /* 初始缩放 */  
  }  
  50% {  
      opacity: 1; /* 中间时完全不透明 */  
      transform: scale(1.1); /* 中间时放大 */  
  }  
}  

svg {  
  display: flex;  
  font: 15em 'Life Savers';  
  width: 80%;  
  height: 80%;  
  margin: 0 auto;  
  justify-content: center;  
}  

.logos {  
  width: 100%;  
  height: 100%;  
}